{% extends "base.html" %}

{% load bootstrap_tags %}

{% block css %}

{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
    <form method="POST" action="{{ action }}">
      <legend>Add Project</legend>
      {% csrf_token %}
      {{ form|as_bootstrap }}
      <div class="form-actions">
	<a href="{% url 'projects' %}" class="btn">
	  <span class="glyphicon glyphicon-arrow-left"></span>
	  Projects</a>
	<button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
{% include 'modals/color.html' %}
{% endblock %}

{% block js %}
{{ form.media }}
{% endblock %}
