{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-xs-12">
      <a href="{% url 'quick_track' %}{% ifnotequal selected_date today_date %}?date={{ selected_date }}{% endifnotequal %}" class="btn btn-primary" id="bigtime">Big Time</a>
    <select id="dates">
      {% for x in dates %}
      <option value="{{ x }}" 
	      {% ifequal selected_date x %}selected=selected{% endifequal %}>{% spaceless %}
	{% if x == today_date %}
        Today
        {% elif x == yesterday_date %}
        Yesterday
        {% else %}
        {{ x }}
        {% endif %}
      {% endspaceless %}</option>
      {% endfor %}
    </select>
    <br>
    <br>
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
	<div class="front">
	  <!-- front content -->
	  <canvas id="graph" width="180" height="360" 
		  style="border: 1px silver solid; padding: 3px;">
	  </canvas>    
	</div>
	<div class="back">
	  <!-- back content -->
	  <canvas id="legend"
		  style="border: 1px silver solid; padding: 3px;">
	  </canvas>
	</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
window.graph = {{ graph|safe }}.g;
window.today_date = '{{ today_date }}';
</script>
<script type="text/javascript" src="{{ STATIC_URL }}/js/dashboard.js"></script>
{% endblock %}
