{% extends "base.html" %}
{% block content %}
      <div class="row">
	<div class="col-xs-12">
	  <table class="table condensed">
	    <caption>
	      Projects 
	      <a class="btn active btn-primary" role="button"
		 href="{% url "add" %}">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		Add
	      </a>	  
	    </caption>
	    <thead>
	      <tr>
		<th>Name</th>
		<th>Description</th>
	      </tr>
	    </thead>
	    <tbody>
	      {% for x in objects %}
	      <tr>
		<td class="nobr"><a href="{% url 'track' x.id %}">{{ x.name }}</a></td>
		<td>{{ x.description }}</td>
	      </tr>
	      {% endfor %}
	    </tbody>
	  </table>
	</div>
      </div>
{% endblock %}
