{% extends "base.html" %}
{% block content %}
      <div class="row">
	<div class="col-xs-12">
	  <table class="table condensed">
	    <caption>
	      <a class="btn active btn-primary add-project" role="button"
		 href="#">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		Add
	      </a>
	      <a href="{% url 'report' %}">report</a>
	    </caption>
	    <thead>
	      <tr>
		<th>Name</th>
		<th>Description</th>
	      </tr>
	    </thead>
	    <tbody>
	      {% for x in objects %}
	      <tr>
		<td class="nobr"><a href="{% url 'project' x.id %}">{{ x.name }}</a></td>
		<td>{{ x.description }}</td>
	      </tr>
	      {% endfor %}
	    </tbody>
	  </table>
	</div>
      </div>
{% endblock %}

{% block css %}
<style type="text/css">
table.new-project-incomplete, table.new-project-incomplete tr, table.new-project-incomplete tr td {
background-color: yellow;
}
</style>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/projects.js"></script>
{% endblock %}
