{% extends "base.html" %}
{% load colors %}
{% block content %}
      <div class="row">
	<div class="col-xs-12">
	  <table class="table condensed">
	    <caption>
	      <a class="btn active btn-primary add-project" role="button"href="#">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		Add
	      </a>
	      <a href="{% url 'report' %}">report</a>
	    </caption>
	    <thead>
	      <tr>
		<th>Name</th>
		<th>Description</th>
	      </tr>
	    </thead>
	    <tbody>
	      {% for x in objects %}
	      <tr>
		<td class="name">
                    <span class="editable-color"
	                  data-attr="color"
	                  data-url="{% url 'project' x.id %}"
	                  data-color="{{ x.color }}"
	                  data-abbrev="{{ x.color|color_abbrev }}"></span>
                    <br>
                    <span class="click-editable"
                          data-attr="name"
                          data-url="{% url 'project' x.id %}">{{ x.name }}</span>
                </td>
		<td>
                    <span class="click-editable"
                          data-attr="description"
                          data-url="{% url 'project' x.id %}">{{ x.description }}</span>
                    <br>
                    <form method="POST" action="{% url 'delete_project' x.id %}"><button>delete</button></form>
                </td>
	      </tr>
	      {% endfor %}
	    </tbody>
	  </table>
	</div>
      </div>
{% include 'modals/color.html' %}
{% endblock %}

{% block css %}
<style type="text/css">
table.new-project-incomplete, table.new-project-incomplete tr, table.new-project-incomplete tr td {
background-color: yellow;
}
td.name {
text-align: center;
width: 70px;
}
</style>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/projects.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/project.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/color-selector.js"></script>

{% endblock %}
