{% extends "base.html" %}

{% load bootstrap_tags %}

{% block content %}
<div class="row">
    <form method="GET" id="filter-form">
    <div class="col-xs-4">
        <label class="control-label" for="inputStart">Start</label>
        <input type="text" class="form-control datepicker" name="start" value="{{ start }}">
    </div>
    <div class="col-xs-4">
        <label class="control-label" for="inputStart">End</label>
        <input type="text" class="form-control datepicker" name="end" value="{{ end }}">
    </div>
    <div class="col-xs-4" style="margin-top: 25px;">
        <button type="submit" class="btn btn-default">Go</button>
        <a href="#" style="float: right"><img src="{{ STATIC_URL }}img/pie.png"></a>
        <a href="#" style="float: right"><img src="{{ STATIC_URL }}img/bar.png"></a>
    </div>
    </form>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Project</th>
                    <th>Hrs</th>
                    <th>Notes</th>
                    <th>Entry&nbsp;Timestamp</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for x in tracked_time %}
                <tr>
                    <td>{{ x.project.name }}</td>
                    <td>{{ x.hours }}</td>
                    <td>{{ x.activity }}</td>
                    <td>{{ x.track_date }}</td>
                    <td><form method="POST" action="{% url 'delete-tracked-time' x.id %}">
                            <input type="hidden" name="id" value="{{ x.id }}"/>
                            <input type="hidden" name="next" value="{{ next }}"/>
                            {% csrf_token %}
                            <button type="submit" class="btn btn-default" aria-label="remove">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button></form></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
    <!--     Start: <input class="datepicker"  class="form-control" value="{{ year }}-{{ month }}-{{ day }}"> -->
    <!--     End: <input class="datepicker"  class="form-control"  value="{{ year }}-{{ month }}-{{ day }}"> -->
    <!--     <button>Go</button> -->
    <!--     <input src="{{ STATIC_URL }}img/pie.png"/> -->
    <!--     <input src="{{ STATIC_URL }}img/bar.png"/> -->
    <!-- </div> -->

      <!-- <div class="row"> -->
      <!--   <div class="col-xs-6"> -->
      <!--     <a href="{% url 'projects' %}" class="btn"> -->
      <!--   	<span class="glyphicon glyphicon-arrow-left"></span> -->
      <!--   	Projects</a> -->
      <!--   </div> -->
      <!--   <div class="col-xs-6"> -->
      <!--     <input class="datepicker" value="{{ year }}-{{ month }}-{{ day }}"> -->
      <!--   </div> -->
      <!-- </div> -->
      <!-- <div class="row"> -->
      <!--   <div class="col-xs-6"> -->
      <!--     <table class="table"> -->
      <!--       <thead> -->
      <!--         <tr> -->
      <!--   	<th>Project</th> -->
      <!--   	<th>Hours</th> -->
      <!--         </tr> -->
      <!--       </thead> -->
      <!--       <tbody> -->
      <!--         {% for x in report %} -->
      <!--         <tr> -->
      <!--   	<td class="{{ x.legend_class }}">{{ x.name }}</td> -->
      <!--   	<td>{{ x.hours }}</td> -->
      <!--         </tr> -->
      <!--         {% endfor %} -->
      <!--       </tbody> -->
      <!--     </table> -->
      <!--   </div> -->
      <!--   <div class="col-xs-6"> -->
      <!--     <div class="progress"> -->
      <!--       {% for x in report %} -->
      <!--       <div class="progress-bar {{ x.color_class }}" -->
      <!--   	 style="width: {{ x.percent }}%"> -->
      <!--         <span class="sr-only">{{ x.percent }}% {{ x.name }}</span> -->
      <!--         {{ x.percent }}% -->
      <!--       </div> -->
      <!--       {% endfor %} -->
      <!--     </div> -->
      <!--   </div> -->
      <!-- </div> -->
      <!-- <div class="row"> -->
      <!--   <div class="cols-xs-12"> -->
      <!--     <table  class="table"> -->
      <!--       <thead> -->
      <!--         <caption>Detailed&nbsp;Report</caption> -->
      <!--         <tr> -->
      <!--   	<th>Hours</th> -->
      <!--   	<th>Activity</th> -->
      <!--         </tr> -->
      <!--       </thead> -->
      <!--       <tbody> -->
      <!--     {% for project, timeset in detailed %} -->
      <!--     <tr class="info"> -->
      <!--       <td colspan="2"><b>{{ project.name }}</b></td> -->
      <!--     <tr> -->
      <!--       {% for hours, activity in timeset %} -->
      <!--     <tr> -->
      <!--       <td>{{ hours }}</td> -->
      <!--       <td>{{ activity }}</td> -->
      <!--     </tr> -->
      <!--     {% endfor %} -->
      <!--     {% endfor %} -->
      <!--       </tbody> -->
      <!--     </table> -->

      <!--   </div> -->
      <!-- </div> -->
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}vendors/bootstrap-datepicker/datepicker.css">
{% endblock %}

    {% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}vendors/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/reports.js"></script>
    {% endblock %}

