{% extends 'modals/base.html' %}

 {% block topattrs %} id="modal-color" {% endblock %}
{% block title %}Choose color{% endblock %}

{% block body %}
<table class="table table-condensed">
  <tr>
    <td> <button class="color-selection aa"></button> </td>
    <td> <button class="color-selection ab"></button> </td>
    <td> <button class="color-selection ac"></button> </td>
    <td> <button class="color-selection ad"></button> </td>
  </tr>
  <tr>
    <td> <button class="color-selection ba"></button> </td>
    <td> <button class="color-selection bb"></button> </td>
    <td> <button class="color-selection bc"></button> </td>
    <td> <button class="color-selection bd"></button> </td>
  </tr>
  <tr>
    <td> <button class="color-selection ca"></button> </td>
    <td> <button class="color-selection cb"></button> </td>
    <td> <button class="color-selection cc"></button> </td>
    <td> <button class="color-selection cd"></button> </td>
  </tr>
  <tr>
    <td> <button class="color-selection da"></button> </td>
    <td> <button class="color-selection db"></button> </td>
    <td> <button class="color-selection dc"></button> </td>
    <td> <button class="color-selection dd"></button> </td>
  </tr>
  <tr>
    <td> <button class="color-selection ea"></button> </td>
    <td> <button class="color-selection eb"></button> </td>
    <td> <button class="color-selection ec"></button> </td>
    <td> <button class="color-selection ed"></button> </td>
  </tr>
  <tr>
    <td> <button class="color-selection fa"></button> </td>
    <td> <button class="color-selection fb"></button> </td>
    <td> <button class="color-selection fc"></button> </td>
    <td> <button class="color-selection fd"></button> </td>
  </tr>
</table>
{% endblock %}
