{% extends 'modals/base.html' %}

 {% block topattrs %} id="modal-color" {% endblock %}
{% block title %}Choose color{% endblock %}

{% block body %}
<table class="table table-condensed color-selection">
  <tr>
    <td class="aa"> <button></button> </td>
    <td class="ab"> <button></button> </td>
    <td class="ac"> <button></button> </td>
    <td class="ad"> <button></button> </td>
  </tr>
  <tr>
    <td class="ba"> <button></button> </td>
    <td class="bb"> <button></button> </td>
    <td class="bc"> <button></button> </td>
    <td class="bd"> <button></button> </td>
  </tr>
  <tr>
    <td class="ca"> <button></button> </td>
    <td class="cb"> <button></button> </td>
    <td class="cc"> <button></button> </td>
    <td class="cd"> <button></button> </td>
  </tr>
  <tr>
    <td class="da"> <button></button> </td>
    <td class="db"> <button></button> </td>
    <td class="dc"> <button></button> </td>
    <td class="dd"> <button></button> </td>
  </tr>
  <tr>
    <td class="ea"> <button></button> </td>
    <td class="eb"> <button></button> </td>
    <td class="ec"> <button></button> </td>
    <td class="ed"> <button></button> </td>
  </tr>
  <tr>
    <td class="fa"> <button></button> </td>
    <td class="fb"> <button></button> </td>
    <td class="fc"> <button></button> </td>
    <td class="fd"> <button></button> </td>
  </tr>
</table>
{% endblock %}
